.EducationEntry{
    margin: 25px 0px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.EducationEntry > p{
    margin: 0px;
}

.EducationEntry > p:nth-child(1){
    font-size: 14px;
    font-weight: normal;
}

.EducationEntry > p:nth-child(2){
    font-size: 17px;
    font-weight: bolder;
}

.EducationEntry > p:nth-child(3){
    font-size: 15px;
    font-weight: bold;
}

.EducationEntryEdit{
    grid-template-columns: repeat(2, 1fr) ;
    max-width: 100%;
    
}

.EducationEntryEdit input:nth-child(3),
.EducationEntryEdit input:nth-child(4){
    grid-column: 1/3;
    width: auto;
    /* box-sizing: border-box; */
}

.EducationEntryEdit input{
    width: 88%;
    
}