.resumeContainer{
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    min-height: 80vh;
    max-width: 1250px;
    font-family: lato, Avenir, Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;

    --resMainColor: #323B4C;
    --res2ndColor: #737373;
}

.resSidebar{
    border-radius: 10px;
    border-top-right-radius: 0;  /* Unround top-left corner */
    border-bottom-right-radius: 0;  /* Unround bottom-left corner */
    background-color: var(--resMainColor);
    padding: 30px 0;
    display: grid;
    grid-template-columns: 100%;
    padding-left: 25%;
    box-sizing: border-box;
    
}

.resContent{
    padding: 20px 20px;
}

.ResProfilePic{
    max-width: 66.7%;
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
   .resumeContainer{

   }
}